/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
} */


/* @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

body {
    font-family: 'Cutive Mono', monospace;
} */


@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


body {
    font-family: 'Space Mono', monospace;
}