.row {
    margin-bottom: 8px;
}

.container, .container-fluid {
    padding-bottom: 92px;
    /* margin-bottom: 100px; */
}

#menu {
    padding-bottom: 20px;
}

.fixed {
    bottom: 24px !important;
    left: 15px !important;
    right: 15px !important;
    position: fixed;
}

.options {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 95%;
}

.item > div, .extra > div {
    padding-left: 0px;
}

.item > div:first-child, .extra > div:first-child {
    padding-right: 0px;
}

.item.row > div  {
    padding-bottom: 6px;
    /* border-bottom: 0.5px dashed white; */
}

.description {
    font-size: 85%;
    font-weight: 200;
}

.hint {
    font-size: .7em;
}

.title {
    font-size-adjust: unset;
}

.top-spacing {
    margin-top: 15px;
}

.extra > .title {
    font-size: .8em;
}

.extra > .price {
    font-size: 98%;
}

.price {
    text-align: right;
}