body {
    touch-action: pan-x pan-y;
    background-color: #414d30;
}

.container {
    font-size: 1.1em;
    line-height: 100%;
    padding-top: 5px;
    padding-bottom: 16px;
    margin-bottom: 100px;
    background-color: #538bae;
    color: white;
}

.fixed {
    bottom: 24px !important;
    left: 16px !important;
    right: 16px !important;
    position: fixed;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f0bf5f !important;
    border-color: transparent;
    color: #414d30;
    font-weight: 400;
    font-size: 20px;
    height: 60px;
}

.row {
    margin-bottom: 8px;
}

.group > .title {
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 35px;
}

.group > .title > span {
    background-image: url("../images/title-background-mana.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.options {
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    font-size: 80%;
}

.hint {
    font-size: .7em;
}

.title {
    font-size-adjust: unset;
}

.top-spacing {
    margin-top: 15px;
}

.extra > .title {
    font-size: .8em;
}

.extra > .price {
    font-size: 98%;
}

.price {
    text-align: right;
}