.row {
    margin-bottom: 8px;
}

.container, .container-fluid {
    padding-bottom: 92px;
    /* margin-bottom: 100px; */
}

#menu {
    padding-bottom: 20px;
}

.fixed {
    bottom: 24px !important;
    left: 15px !important;
    right: 15px !important;
    position: fixed;
}

.table td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;

    border-top: none;
    vertical-align: middle;
}

.options {
    padding-top: 0px;
    padding-bottom: 30px;
}

.options .option {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.items .table tr {
    border: none;
}

.items .table tbody tr:first-child td {
    padding-top: 0px;
}

.items .table .line {
    padding: 0px;
}

.items .table .line div {
    border-bottom: 1px dashed white;
    opacity: 0.4;
}

.items .table td:first-child {
    width: 100%;
}

.items .info {
    padding-right: 10px;
    font-weight: bold;
}

.items .detail {
    padding-right: 10px;
    font-size: small;
}

.items .info .detail {
    padding-top: 2px;
}

.items .price:last-child {
    margin-bottom: 0px;
}

.extras {
    padding-top: 10px;
}

.extras tbody {
    font-size: small;
}

.extras .info {
    padding-left: 36px;
}

.extras table td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.description, .detail {
    font-weight: 200;
}

.price {
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
}

.hint {
    font-size: small;
    font-weight: lighter;
}
