.header .title {
    margin-bottom: 10px;
}

.info .title {
    font-size: large;
    font-weight: bold;
}

.info {
    margin-top: 40px;
    margin-bottom: 46px;
}

.price {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;

    border: 1px dashed;
    border-radius: 14px;
}

.controls {
    margin-top: 40px;
    margin-bottom: 30px;
}

.price-painel {
    opacity: 0.4;
    margin-top: -10px;
}

.description {
    margin-top: 24px;
    /* font-size: medium; */
    /* font-weight: lighter; */
}

select {
    /* margin: 50px; */
    /* width: 150px; */
    /* padding: 5px 35px 5px 5px; */
    /* font-size: 16px; */
    /* border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE; */
    /* background-color: red; */
  }