/* .header .title {
    margin-bottom: 10px;
} */

.info .title {
    font-size: large;
    font-weight: bold;
}

.info .title .icon {
    padding-left: 10px;
    opacity: .8;
    display: inline-block;
}

.info {
    margin-top: 30px;
    margin-bottom: 36px;
}

.price {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;

    border: 1px dashed;
    border-radius: 14px;
}

.controls {
    margin-top: -36px;
    margin-bottom: 30px;
}

/* .controls select {
    background-color: #58a8b2;
    color: white;
    border: 1px solid white;
}

.controls select:hover {
    background-color: green;
    color:pink;
}

.controls select:visited {
    background-color: burlywood;
    color: purple;
}

.controls select:active {
    background-color: red;
    color: yellow;
    border: none;
} */

.price-painel {
    /* opacity: 0.4; */
    margin-top: -10px;
}

.description {
    margin-top: 24px;
}

select {
    /* margin: 50px; */
    /* width: 150px; */
    /* padding: 5px 35px 5px 5px; */
    /* font-size: 16px; */
    /* border: 1px solid #CCC;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    /* background: url(https://stackoverflow.com/favicon.ico) 96% / 15% no-repeat #EEE; */
    /* background-color: red; */
  }