/* .header .title {
    margin-bottom: 10px;
} */

.info .title {
    font-size: large;
    font-weight: bold;
}

.info .title .icon {
    padding-left: 10px;
    opacity: .8;
    display: inline-block;
}

.info {
    margin-top: 30px;
    margin-bottom: 36px;
}

.price {
    font-size: 40px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;

    border: 1px dashed;
    border-radius: 14px;
}

.controls {
    margin-top: -36px;
    margin-bottom: 50px;
}

.price-painel {
    /* opacity: 0.4; */
    margin-top: -10px;
}

.description {
    margin-top: 24px;
}